
<% if current_user %>

    <%= render 'layouts/container' %> 
        <h3>News </h3>
        <hr class="my-4">

        <% @posts.each do |post| %>
            <p> <%= link_to post.title, post %></p>
        <% end %>
    </div>

<% else %>

    <%= render 'layouts/jumbo' %>
    <h1>Welcome To HappyClub</h1>
    
<% end %>
