<% content_for :javascript_includes do %>
  <%= javascript_include_tag "form.js" %>
<% end %>
<div class="content">
  <div class="container-fluid">
    <div class="card">

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" href="#p" role="tab" data-toggle="tab">Past</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#c" role="tab" data-toggle="tab">Current</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#u" role="tab" data-toggle="tab">Upcoming</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="p">
          <%= render partial: "shared/events", object: @previous %>
        </div>
        <div role="tabpanel" class="tab-pane fade in active" id="c">
          <%= render partial: "shared/events", object: @current %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="u">
          <%= render partial: "shared/events", object: @upcoming %>
        </div>
      </div>
</div>
  </div>
</div>