
<div class="content">
  <div class="container-fluid">
    <div class="card">
      <h3>News</h3>
      <ul class="list-group">
        <% @posts.each do |post| %>
          <li class="list-group-item">
            <p>
              <b>
                <%= post.title %>
              </b>
              <%= post.body.truncate_words(20).html_safe %>
              <%= link_to "See More", post %>
              <br/>
              <i>Created on: </i>
              <%= post.created_at  %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>