@import 'bootstrap';


body {
    padding-top: 0px;
    background: url("b.jpg") no-repeat center center fixed;
  }

.form{
   
   padding-top: -150px;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 100px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  

  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }


  table {
    border-collapse: separate;
    border-spacing: 20px 0;
  }
  
  td {
    padding: 5px 0;
  }
h1,h2{
  text-align: center;
}
html,
body,
header,
#intro {
    height: 100%;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  margin: 6rem;
  background-color: #f7f7f9;
  border-radius: 0.6rem;
}

.navbar.bg-dark {
  background-color: #060606 !important;
  border: 1px solid #282828;
}
