@import 'bootstrap';

body,html,.body {
   
    padding-top: 0px;
    background: #ebe8ef  !important;
  
  }

.form{
   
   padding-top: -150px;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 100px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 12px 12px;
  font-size: 14px;
 
}

  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  

  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

h1,h2{
  text-align: center;
}
html,
body,
header,
#intro {
    height: 100%;
}

.jumbotron {
  padding: 8rem 8rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 30rem;
  margin-right: 30rem;
  background-image: src('h.jpg');
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.8;


}
.containerr{
  padding: 6rem 6rem 6rem 6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: #f0f0f0 !important;
  align-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.containerr1{
  padding: 6rem 6rem 6rem 6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: #f0f0f0 !important;
  align-content: center;
  border-radius: 0.5rem;

}

.navbar.bg-dark {
  background-color: #1b1b1b !important;
 
}

.left{
  float: left; 
  width: 300px;
  margin-right: 20px;
}

/* Style tab links */
.tablink {
  background-color: #f0f0f0;
  color: black;
  float: left;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: rgb(197, 197, 197);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {

  color: black;
  display: none;
  padding: 50px 20px;
  height: 100%;
  

}
